<!DOCTYPE html>
<html>
  <head>
    <title>Airfashion</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <center>
        <h1>You can close this popup window <img src="https://em-content.zobj.net/source/facebook/158/smiling-face-with-smiling-eyes_1f60a.png"></h1>
    </center>
    
  </body>
</html>