<!DOCTYPE html>
<html>
  <head>
    <title>Airfashion</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <center>
        <h1>You must accept Google calendar in your account, otherwise you will not be able to make your appointment! <img src="https://images.emojiterra.com/google/android-11/512px/1f625.png"></h1>
    </center>
    
  </body>
</html>